h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

#closeButton {
  margin: 15px 6px 6px;
}

noscript {
	width: 22em; 
	position: absolute; 
	left: 50%; 
	margin-left: -11em; 
	color: red; 
	background-color: white; 
	border: 1px solid red; 
	padding: 4px; 
	font-family: sans-serif;
}

#__gwt_historyFrame {
	position:absolute;
	width:0;
	height:0;
	border:0;
}

.campoInvalido {
	border: 1px solid #F00 !important;
}

.flexTable {
	margin-top: 10px;
}

.flexTable .cabecalho td {
	border-bottom: 1px solid #000;
	text-align: center;
	font-weight: bold;
}

.flexTable td {
	padding: 10px;
}

.flexTable .alterna td {
	background-color: #F5F5F5;
}
